%main.l-container.clearfix
  .l-content
    %section.l-content__user
      = link_to '#' do
        %figure
          = image_tag 'user-icon.jpg', width: '60', hight: "60"
        %h2.bold
          = @mypage.name
        %ul.mypage-number
          %div
            評価
            %span.bold 249
          %div
            出品数
            %span.bold 317

    / タブリスト1
    %section.l-content__todo-container
      %ul.mypage-tabs
        %li.active
          %h3 お知らせ
          / %span.mypage-nav-number 33
        %li
          %h3 やることリスト
          / %span.mypage-nav-number 9

      %section.tab-content
        / タブリスト1 お知らせ
        %ul.mypage-item-list.show
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'member_photo_noimage_thumb.png', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text ゆきんこさん、他16名が「《最終価格》【ZARA】クリア...」にいいね！しました
                %time
                  = fa_icon 'clock-o'
                  %span 7 分前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'member_photo_noimage_thumb.png', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text ゆきんこさん、他16名が「《最終価格》【ZARA】クリア...」にいいね！しました
                %time
                  = fa_icon 'clock-o'
                  %span 7 分前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'member_photo_noimage_thumb.png', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text ゆきんこさん、他16名が「《最終価格》【ZARA】クリア...」にいいね！しました
                %time
                  = fa_icon 'clock-o'
                  %span 7 分前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'member_photo_noimage_thumb.png', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text ゆきんこさん、他16名が「《最終価格》【ZARA】クリア...」にいいね！しました
                %time
                  = fa_icon 'clock-o'
                  %span 7 分前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'member_photo_noimage_thumb.png', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text ゆきんこさん、他16名が「《最終価格》【ZARA】クリア...」にいいね！しました
                %time
                  = fa_icon 'clock-o'
                  %span 7 分前
              = fa_icon 'chevron-right'

          %li.mypage-go-list
            = link_to '一覧を見る', '#'
        / タブリスト1 やることリスト
        %ul.mypage-item-list
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'todo-user.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text あみはさんから「【ディーホリック】デニム28」の取引メッセージがあります。返信をお願いします
                %time
                  = fa_icon 'clock-o'
                  %span 13 時間前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'todo-user.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text あみはさんから「【ディーホリック】デニム28」の取引メッセージがあります。返信をお願いします
                %time
                  = fa_icon 'clock-o'
                  %span 13 時間前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'todo-user.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text あみはさんから「【ディーホリック】デニム28」の取引メッセージがあります。返信をお願いします
                %time
                  = fa_icon 'clock-o'
                  %span 13 時間前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'todo-user.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text あみはさんから「【ディーホリック】デニム28」の取引メッセージがあります。返信をお願いします
                %time
                  = fa_icon 'clock-o'
                  %span 13 時間前
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'todo-user.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text あみはさんから「【ディーホリック】デニム28」の取引メッセージがあります。返信をお願いします
                %time
                  = fa_icon 'clock-o'
                  %span 13 時間前
              = fa_icon 'chevron-right'

          %li.mypage-go-list
            = link_to '一覧を見る', '#'

    / タブリスト2
    %section.l-content__todo
      %h2.todo-tab-head 購入した商品
      %ul.todo-tabs
        %li.active
          %h3 取引中
        %li
          %h3 過去の取引

      %section.todo-content
        / タブリスト2 取引中
        %ul.mypage-item-list.show
          %li.mypage-item-not-found.bold 取引中の商品がありません
        / タブリスト2 過去の取引
        %ul.mypage-item-list
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'lush-box.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「lush 【空容器】」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold 取引完了
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'lush-box.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「lush 【空容器】」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold 取引完了
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'lush-box.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「lush 【空容器】」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold 取引完了
              = fa_icon 'chevron-right'
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'lush-box.jpg', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「lush 【空容器】」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold 取引完了
              = fa_icon 'chevron-right'

          %li.mypage-go-list
            = link_to '一覧を見る', '#'

  / サイドバー
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypages_path, class: 'mypage-nav-list-item active' do
            マイページ
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            お知らせ
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            やることリスト
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            いいね！一覧
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品する
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品した商品 - 出品中
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品した商品 - 取引中
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品した商品 - 売却済み
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            購入した商品 - 取引中
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            購入した商品 - 過去の取引
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ニュース一覧
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            評価一覧
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ガイド
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            お問い合わせ
            = fa_icon 'chevron-right'
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            売り上げ・振込申請
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ポイント
            = fa_icon 'chevron-right'
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            プロフィール
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            発送元・お届け先住所変更
            = fa_icon 'chevron-right'
        %li
          = link_to mypage_cards_path(@mypage), class: 'mypage-nav-list-item' do
            支払い方法
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            メール/パスワード
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            本人情報
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            電話番号の確認
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ログアウト
            = fa_icon 'chevron-right'
