.sp-header.visible-tablet
  .sp-header-inner.clearfix
    .sp-header-inner__logo
      = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3703848211', width: '134', height: '36', alt: "メルカリ"), "#"
    .sp-header-inner__nav.clearfix
      = link_to 'ログイン', "#", class: 'sp-header-btn btn-red'
      = link_to '新規会員', "#", class: 'sp-header-btn sp-header-signup'
  .search-bar
    = form_for @item do |f|
      = f.search_field :name, class: 'sp-header-search input-default', placeholder: '何をお探しですか？'
      = fa_icon "search", class: "icon-search"
  .sp-header-nav
    = link_to root_path do
      = fa_icon 'list-ul'
      %span カテゴリーから探す
    = link_to root_path do
      = fa_icon 'tags'
      %span ブランドから探す

.header.visible-pc
  .header-inner
    .header-search.clearfix
      .header-search__logo
        = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3703848211', width: '134', height: '36', alt: "メルカリ"), "#"
      .header-search__keyword
        = form_for @item do |f|
          = f.search_field :name, class: 'input-default', placeholder: '何かお探しですか？'
          = fa_icon "search", class: "icon-search"

    .header-nav.clearfix
      %nav.header-nav__left
        %ul
          %li.header-nav__left--category
            %h2
              = link_to root_path do
                = fa_icon 'list-ul', class: 'category-icon'
                %span カテゴリーから探す
            = render 'items/category-menu'

          %li.header-nav__left--brand
            %h2
              = link_to root_path do
                = fa_icon 'tags', class: 'brand-icon'
                %span ブランドから探す
              %ul
                %li
                  %h3
                    = link_to 'シャネル', '#'
                %li
                  %h3
                    = link_to 'ナイキ', '#'
                %li
                  %h3
                    = link_to 'ルイ ヴィトン', '#'
                %li
                  %h3
                    = link_to 'シュプリーム', '#'
                %li
                  %h3
                    = link_to 'アディダス', '#'
                %li
                  %h3
                    = link_to 'ブランド一覧', '#'

      .header-nav__rigth
        / 未ログイン
        %ul
          %li.header-nav__rigth--login
            = link_to 'ログイン', "#"
          %li.header-nav__rigth--signup
            = link_to '新規会員登録', "#"
        / ログイン
        / %ul.header-nav-rigth__list
        /   %li.list-news
        /     = link_to '#', class: 'news-nav' do
        /       = fa_icon 'bell-o'
        /       %span お知らせ
        /       .nav-count 99+
        /     %ul
        /       %li
        /         = link_to '#' do
        /           %figure
        /           .mypage-item-body
        /           = fa_icon ''
        /       %li
        /       %li
        /       %li
        /       %li
        /       %li
        /   %li.list-todo
        /   %li
        /     = link_to '' do
        /       %figure
        /         %div
        /           = image_tag ''
        /       %div マイページ
        /     .mypage-box
