%section.item-detail
  %h1.item-detail__name 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
  %p.item-detail__wording
    『正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ』は、876回の取引実績を持つ
    = link_to 'BOON@No.1コスパ優良店', '#'
    さんから出品されました。
    = link_to 'コーチ', '#'
    （
    = link_to 'ショルダーバッグ/レディース', '#'
    ）の商品で、兵庫県から1~2日で発送されます。

  .item-main.clearfix
    .item-main-photo
      / メインスライダー
      %ul.photo-slider
        %li.photo-slider__item
          = image_tag 'coach-1.jpg'
        %li.photo-slider__item
          = image_tag 'coach-2.jpg'
        %li.photo-slider__item
          = image_tag 'coach-3.jpg'
        %li.photo-slider__item
          = image_tag 'coach-4.jpg'

      / サムネイル
      .photo-thumbnail
        %a{ "data-slide-index": "0", width:"75", height: "75", href: ""}
          = image_tag 'coach-1.jpg'
        %a{ "data-slide-index": "1", width:"75", height: "75",href: ""}
          = image_tag 'coach-2.jpg'
        %a{ "data-slide-index": "2", width:"75", height: "75",href: ""}
          = image_tag 'coach-3.jpg'
        %a{ "data-slide-index": "3", width:"75", height: "75",href: ""}
          = image_tag 'coach-4.jpg'

    / アイテムプライス
    .item-price-box.visible-sp
      %span.item-price-box__price.bold ¥ 3,380
      %span.item-price-box__tax (税込)
      %span.item-price-box__fee 送料込み
    .visible-sp
      .item-btn-client 購入画面に進む
      / .item-buy-btn 売り切れました

    %table.item-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to 'BOON@No.1コスパ優良店', '#'
            %div
              .item-user-ratings
                = fa_icon 'smile-o'
                %span 880
              .item-user-ratings
                = fa_icon 'meh-o'
                %span 27
              .item-user-ratings
                = fa_icon 'frown-o'
                %span 4
        %tr
          %th カテゴリー
          %td
            = link_to 'レディース', '#'
            .item-detail-table-sub-category
              = link_to '#' do
                = fa_icon 'angle-right'
                バッグ
            .item-detail-table-sub-sub-category
              = link_to '#' do
                = fa_icon 'angle-right'
                ショルダーバッグ

        %tr
          %th ブランド
          %td
            = link_to 'コーチ', '#'
        %tr
          %th 商品の状態
          %td やや傷や汚れあり
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            = link_to '兵庫県', '#'
        %tr
          %th 発送日の目安
          %td 1~2日で発送

  .item-price-box
    %span.item-price-box__price.bold ¥ 3,380
    %span.item-price-box__tax (税込)
    %span.item-price-box__fee 送料込み

    .item-btn-client 購入画面に進む
    / .item-buy-btn 売り切れました

  / アイテムディスクリプション
  .item-description
    %p ■商品ご覧頂き、誠にありがとうございます。<br>※今だけ、フォロワーになって下さった方に、300円のお値引きサービス中！！<br>
    <br>
    私の商品検索は、<br>
    ＃Boon・バッグ<br>
    検索してください。<br>
    <br>
    質問がありましたらコメントでよろしくお願いします！<br>
    ■ 商品説明 ■<br>
    まずはプロフを確認してください☆<br>
    <br>
    ■ 商品詳細 ■<br>
    シンプルな落ち着いたお色味でどんな場面にも合い、<br>
    どんな服にも合わせやすいお鞄です。使用感有！角擦れはございませんが<br>
    多少の汚れはあります。内側はとても綺麗です☆<br>
    使わなくなったのでどなたか使っていただける方お願いします。<br>
    製造番号  H2K-9294<br>
    <br>
    【ブランド】<br>
    COACH  コーチ<br>
    <br>
    【商品名】<br>
    コーチ大き目シンプル<br>
    <br>
    【仕様】<br>
    外ポケット１  内ポケット４<br>
    <br>
    【サイズ】<br>
    縦：32<br>
    横：31<br>
    幅：7<br>
    紐：130 多少調節可能<br>
    <br>
    ＊他にも数多くの商品を出品しているので、ぜひご覧ください。<br>
    ＊複数購入、お取り置き(５日まで)<br>もできるので、お気軽にお声がけくださいませ。<br>
    ＊中古品になりますので、予めご理解いただきますよう、お願い致します^_^<br>
    ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。<br>
    、お願い致します^_^<br>
    ※自宅保管、素人検品、素人寸法の誤差などにご理解がない方、神経質な方、完璧な物が欲しい方は購入お控えください。<br>
    <br>
    ＃シンプル ＃かわいい ＃大き目 ＃かばん ＃バッグ

  .item-button-container.clearfix
    .item-button-left
      %button.item-button-like.item-button
        = fa_icon 'heart-o', class: 'icon-like-border'
        %span いいね!
        %span.fade-in-down 7
      = link_to '#', class: 'item-button-report item-button' do
        = fa_icon 'flag'
        %span 不適切な商品の報告
    .item-button-right
      = link_to '#' do
        = fa_icon 'unlock-alt'
        %span あんしん・あんぜんへの取り組み
