.main
  / トップカルーセル
  %section.top-carousel
    %ul.bxslider
      %li.top-carousel__slider-1
      %li.top-carousel__slider-2
      %li.top-carousel__slider-3
      %li.top-carousel__slider-4
        .slider-content
          .slider-content__left
            %h2 スマホでかんたん<br/>フリマアプリ
            %p メルカリはスマホカメラからすぐに出品できる<br/>購入時も安心な独自システムのアプリです
            .slider-content__store
              = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1355968437'), '#', class: 'app-icon'
              = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1355968437'), '#', class: 'google-icon'
          .slider-content__right
            = image_tag 'main_content_pc.png'

  / ピックアップカテゴリー
  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

  / ピックアップブランド
  %section.pickup-container
    %h2.pickup-head ピックアップブランド
    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'

    %section.pickup-box.clearfix
      %h3.pickup-box__new
        = link_to 'レディース 新着アイテム', '#'
      .pickup-box__content.clearfix
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
        %section.pick-box
          = link_to '#' do
            .pick-box__photo
              = image_tag 'AIMER.jpg'
            .pick-box__body
              %h3.pick-box-name AIMER ドレス
              .pick-box-num.clearfix
                .pick-box-num__price ¥ 2,300
                .pick-box-num__likes
                  = fa_icon 'heart-o', class: 'likes-icon'
                  %span 11
                %p.pick-box-num__tax (税込)
      .pickup-box__view-all
        = link_to 'すべての商品を見る', '#'
