.single-container
  = render "shared/single-header"

  %main
  %section.l-single-container.buy-item-container
    #sell-container
      %div
        .sell-container-inner
          %h2.l-single-head.bold 商品の情報を入力
          %form.sell-form
          = form_for @item, url:{ action: :new }, html:{ class: "sell-form" } do |f|
            / 出品画像
            .sell-upload-box
              %h3.sell-upload-head.bold
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます
              .sell-dropbox-container.clearfix.state-image-number-10
                .sell-upload-items-container
                  .sell-upload-items.have-item-0
                    %ul
                .sell-upload-drop-box.have-item-0
                  %input.sell-upload-drop-file
                  %pre
                    ドラッグアンドドロップ
                    またはクリックしてファイルをアップロード
            / 商品名・説明
            .sell-content
              .form-group
                %label
                  商品名
                  %span.form-require 必須
                %div
                  %input.input-default{ placeholder: "商品名（必須 40文字まで)", value: "" }/
              .form-group
                %label
                  商品の説明
                  %span.form-require 必須
                %textarea.textarea-default{ placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5" }
            / 大カテゴリー・商品の詳細
            .sell-content.clearfix
              %h3.sell-sub-head.bold 商品の詳細
              .sell-form-box
                / カテゴリー
                .form-group
                  %label
                    カテゴリー
                    %span.form-require 必須
                  %div
                    .select-wrap
                      %select.select-default
                        %option{ value: "" } ---
                        %option{ value: "" } レディース
                        %option{ value: "" } メンズ
                        %option{ value: "" } ベビー・キッズ
                        %option{ value: "" } インテリア・住まい・小物
                        %option{ value: "" } 本・音楽・ゲーム
                        %option{ value: "" } おもちゃ・ホビー・グッズ
                        %option{ value: "" } コスメ・香水・美容
                        %option{ value: "" } 家電・スマホ・カメラ
                        %option{ value: "" } スポーツ・レジャー
                        %option{ value: "" } ハンドメイド
                        %option{ value: "" } チケット
                        %option{ value: "" } 自動車・オートバイ
                        %option{ value: "" } その他
                      = fa_icon "angle-down"
                / 商品の状態
                .form-group
                  %label
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    %select.select-default
                      %option{ value: "" } ---
                      %option{ value: "" } 新品、未使用
                      %option{ value: "" } 未使用に近い
                      %option{ value: "" } 目立った傷や汚れなし
                      %option{ value: "" } やや傷や汚れあり
                      %option{ value: "" } 傷や汚れあり
                      %option{ value: "" } 全体的に状態が悪い
                    = fa_icon "angle-down"

            / ・大カテゴリー・配送料について
            .sell-content.clearfix
              %h3.sell-sub-head.bold 配送について
              = link_to "#", target: "_blank", class: "form-question" do
                ?
              .sell-form-box
                / 発送料負担
                .form-group
                  %label
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    %select.select-default
                      %option{ value: "" } ---
                      %option{ value: "" } 送料込み(出品者負担)
                      %option{ value: "" } 着払い(購入者負担)
                    = fa_icon "angle-down"
                / 発送元地域
                .form-group
                  %label
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "---" },{ class: "select-default" }
                    = fa_icon "angle-down"
                / 発送までの日数
                .form-group
                  %label
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    %select.select-default
                      %option{ value: "" } ---
                      %option{ value: "" } 1~2日で発送
                      %option{ value: "" } 2~3日で発送
                      %option{ value: "" } 4~7日で発送
                    = fa_icon "angle-down"

            / 大カテゴリー・販売価格、手数料
            .sell-content.clearfix
              %h3.sell-sub-head.bold 販売価格（300〜9,999,999）
              = link_to "#", target: "_blank", class: "form-question" do
                ?
              / 販売価格、手数料
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          %input.input-default{ placeholder: "例）300", value: "" }/
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right -
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right -
            / 確認事項
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to "#", target: "_blank" do
                    禁止されている出品
                  、
                  = link_to "#", target: "_blank" do
                    行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "#", target: "_blank" do
                    偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to "#", target: "_blank" do
                    加盟店規約
                  に同意したことになります。
              = button_tag type: "submit", class: "btn-default btn-red" do
                出品する
              = link_to "#", class: "btn-default btn-gray" do
                もどる

  = render "shared/single-footer"
