.default-container
  = render "shared/global-header"
  - breadcrumb :cards_new
  = render 'mypages/bread-scrap'


%main.l-container.clearfix
  -# メインコンテンツ
  .l-content
    %section.l-chapter-container#card-wrapper
      %h2.l-chapter-head#active クレジットカード情報入力
      = form_for [@mypage, @card] do |f|
        .l-single-content
          .form-group
            = f.label :number, :カード番号
            %span.form-require 必須
            = f.text_field :number, placeholder: '半角数字のみ', maxlength: '16', id: 'serial', class: 'input-default'
            %ul.signup-card-list
              %li
                = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3801675580', width: '49', height: '20'
              %li
                = image_tag 'https:////www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3801675580', width: '34', height: '20'
              %li
                = image_tag 'https:////www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3801675580', width: '30', height: '20'
              %li
                = image_tag 'https:////www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3801675580', width: '32', height: '20'
              %li
                = image_tag 'https://////www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3801675580', width: '21', height: '20'
              %li
                = image_tag 'https:////www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3801675580', width: '32', height: '20'
              %li
                = image_tag 'https:////www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3801675580', width: '32', height: '20'

          .form-group.signup-form-expire
            = f.label :number, :有効期限
            %span.form-require 必須
            %br
            .select-wrap
              = f.select :exp_month, [["01", "01"], ["02", "02"], ["03", "03"], ["04", "04"], ["05", "05"], ["06", "06"],["07", "07"], ["08", "08"], ["09", "09"], ["10", "10"], ["11", "11"], ["12", "12"]]
              = fa_icon 'chevron-down'
            %span 月
            %br
            .select-wrap
              = f.select :exp_year, [["19", "19"], ["20", "20"], ["21", "21"], ["22", "22"], ["23", "23"], ["24", "24"],["25", "25"], ["26", "26"], ["27", "27"], ["28", "28"], ["29", "29"]]
              = fa_icon 'chevron-down'
            %span 年
          .form-group
            = f.label :cvc_code, :セキュリティコード
            %span.form-require 必須
            = f.text_field :cvc_code, placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4", class: 'input-default'
            .signup-seqcode
              .signup-seqcode__text
                %span.signup-seqcode__text--question ?
                カード裏面の番号とは？

          = f.submit "追加する", class: 'btn-default btn-red'

  -# サイドバー
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to mypages_path, class: 'mypage-nav-list-item' do
            マイページ
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            お知らせ
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            やることリスト
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            いいね！一覧
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品する
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品した商品 - 出品中
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品した商品 - 取引中
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            出品した商品 - 売却済み
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            購入した商品 - 取引中
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            購入した商品 - 過去の取引
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ニュース一覧
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            評価一覧
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ガイド
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            お問い合わせ
            = fa_icon 'chevron-right'
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            売り上げ・振込申請
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ポイント
            = fa_icon 'chevron-right'
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            プロフィール
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            発送元・お届け先住所変更
            = fa_icon 'chevron-right'
        %li
          = link_to mypage_cards_path(@mypage), class: 'mypage-nav-list-item active' do
            支払い方法
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            メール/パスワード
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            本人情報
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            電話番号の確認
            = fa_icon 'chevron-right'
        %li
          = link_to '#', class: 'mypage-nav-list-item' do
            ログアウト
            = fa_icon 'chevron-right'

= render 'items/btn'