.default-container
  = render "shared/global-header"
  - breadcrumb :transactions
  = render 'mypages/bread-scrap'

  %main.l-container.clearfix
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-head.bold 支払い方法
        .l-single-inner
          %section
            .l-single-content
              %h3.l-chapter-sub-head.bold クレジットカード一覧
            %ul.settings-payment-list
          %section.settings-add-card
            .l-single-content
              = link_to "https://www.mercari.com/jp/mypage/card/create/", class: "btn-default btn-red submit_button" do
                = fa_icon "credit-card"
                クレジットカードを追加する
          .settings-not-regist
            = link_to "https://www.mercari.com/jp/help_center/category/6/", target: "_blank" do
              %span 支払い方法について
              = fa_icon "angle-right"
    = render "shared/global-side-menu"

= render "shared/app-banner"
= render "shared/global-footer"
