.single-container
  = render "shared/single-header"
  %main
    %section.l-single-container.buy-item-container
      %h2.l-single-head.bold 購入を確定しますか？
      / 商品情報
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img{src: "/assets/m21504898735_1.jpg", alt: ""}/
          %p.buy-item-name.bold ドットシャツ
          %form.buy-form{action: "#", method: "POST"}
            %p.buy-price-ja.bold
              ¥ 300
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  = link_to "ポイントはありません" , "#"
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell
                  支払い金額
                .buy-price-cell
                  %span{"data-buy-pay" => "300"} ¥ 300
            %button.btn-default.btn-gray.bold{type: "submit"} 購入する
            %p.f14 アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
            %br/
            %div
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank" do
                %img{src: "/assets/app-store.svg", alt: ""}/
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
                %img{src: "/assets/google-play.svg", alt: ""}/
      / 配送先情報
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3.bold 配送先
          %address.buy-user-info-text
            〒000-0000
            %br/
            都府県 住所
            住所00-00-00
            %br/
            名前 名前
          %p.buy-user-info-text
          = link_to "#", class: "buy-user-info-fix" do
            %span 変更する
            %i.fas.fa-angle-right
      / 支払い方法
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3.bold 支払い方法
          %p.buy-user-info-text
            ************0000
            %br/
            00 / 00
          %figure
            %img{src: "/assets/jcb.svg", alt: "jcb", height: "20", width: "26"}/
          %p
          = link_to "#", class: "buy-user-info-fix" do
            %span 変更する
            %i.fas.fa-angle-right
  = render "shared/single-footer"
